$text-color: #000;
$bg-color: #efefef;

.App {
	background-color: $bg-color;
	

  /* 
   * Bootstrap 
   */

  .form-group .form-control {
    box-shadow: none !important;
  }

  button > i.fa.fa-spinner {
    margin-right: 5px;
  }


  /* 
   * Material Design for Bootstrap
	 */  
	 form.was-validated {
		.form-control {
			&.is-invalid, &:invalid {
				& + .form-text.text-muted {
					display: none;
				}
			}
		}
		.form-group {		
			&.is-focused, &:focus {
				.form-text.text-muted {
					visibility: hidden;
				}
			}
	 }
	 .form-check-label {
		 color: $text-color !important;
	 }
	}
	
	.form-group {		
		&.is-focused, &:focus {
			.form-text.text-muted {
				visibility: visible;				
			}
			select.form-control {
				background-size: 1.5em 1.5em !important;
				transition-duration: .3s;
			}		
		}
		.form-text.text-muted {
			visibility: hidden
			//display: none
		}

		//
		// Select
		//
		select.form-control {
			background-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill="%23000000" fill-opacity="0.54" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7 10l5 5 5-5z"/%3E%3Cpath d="M0 0h24v24H0z" fill="none"/%3E%3C/svg%3E');
			background-position: 100% 50%;
			background-repeat: no-repeat;
			background-size: 1.5em 1.5em;
			padding-right: 1.5em;
			border-bottom: 1px solid rgba(117, 116, 116, 0.42);
		}
	}	
	//
	// Checkbox, Radio
	//
	.form-check {
		padding-left: 0 !important;
	}	
	.form-check-input[type="radio"] + label {
		&::before, &::after {
			left: -2px
		}			
	}
	.form-control[type="color"] {
		background: none !important;
	}
}
