 // @import url(//www.minvps.net/mdb.min.css);

 .App {
   
   button.btn {
    font-size: 1.4rem;
    margin-bottom: 0rem;
    padding: 1rem 2rem;

    &::placeholder, &::-webkit-input-placeholder {
      font-size: 1.4rem;
    }
   }

   select:not(.custom-file-control):not(.form-control) {
      -webkit-appearance: menulist;
   }

  .form-control, .form-check-label { font-size: 1.4rem; }
  .form-check-label { padding-top: 0.5rem; margin-bottom: 1.3rem; }
  .form-check .form-check-input[type="checkbox"] {
    & + label::before { 
      top: -0.4rem;
      left: -0.5rem;
      width: 1.4rem;
      height: 2.2rem;
    }
    &:not(:checked) + label::before {
      top: -0.2rem;
      left: 0.1rem;
      width: 2.2rem;
    }
  } 

  .input-group input.form-control {
    background-image: linear-gradient(0deg,#3f51b5 3px,rgba(63,81,181,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
  }

  .bmd-form-group {
    //.checkbox, .radio label, label { font-size: 1.4rem } 
    .bmd-label-static, .bmd-label-floating { font-size: 1.1rem; top: 0.5rem; }
    &:not(.is-focused):not(.is-filled) {
      .bmd-label-floating { font-size: 1.4rem; top: 2.1875rem; }
    }

  }  

  .bs-stepper {
    .step-trigger {
      font-size: 1.4rem;
    }
    .bs-stepper-content {
      position: relative
    }
  }
}

/* 
* Material Design for Bootstrap
*/	 

.form-check-input[type="radio"] {
  + {
      label {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        display: inline-block;
        height: 1.5625rem;
        line-height: 1.5625rem;
        transition: 0.28s ease;
        user-select: none;
        &:before, &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          margin: 4px;
          width: 16px;
          height: 16px;
          z-index: 0;
          transition: 0.28s ease;
        }
      }
    }
  &:checked {
    + {
      label {
        &:after {
          border-radius: 50%;
          border: 2px solid #4285f4;
          background-color: #4285f4;
          transform: scale(1.02);
          .disabled-material {
            background-color: rgba(66, 133, 244, 0.2);
          }
        }
        &:before {
          border-radius: 50%;
          border: 2px solid transparent;
        }
      }
    }
  }
  &:not(:checked) {
    + {
      label {          
        &:after {
          border-radius: 50%;
          border: 2px solid #5a5a5a;
          transform: scale(0);
        }
        &:before {
          border-radius: 50%;
          border: 2px solid #5a5a5a;
        }
      }
    }
  }
  
  &:disabled {
    &:checked {
      + {
        label {
          &:before {
            background-color: transparent;
            border-color: rgba(0, 0, 0, 0.46);
          }
        }
        span {
          &:after {
            background-color: rgba(0, 0, 0, 0.46);
            border-color: #bdbdbd;
          }
        }
      }
    }
    &:not(:checked) {
      + {
        label {
          &:before {
            background-color: transparent;
            border-color: rgba(0, 0, 0, 0.46);
          }
        }
        span {
          &:before {
            border-color: rgba(0, 0, 0, 0.46);
          }
        }
      }
    }
    + {
      span {
        color: rgba(0, 0, 0, 0.46);
      }
    }
  }
}
label.btn {
  input[type="radio"] {
    &:checked {
      + {
        label {
          position: relative;
          padding-left: 35px;
          cursor: pointer;
          display: inline-block;
          height: 1.5625rem;
          line-height: 1.5625rem;
          transition: 0.28s ease;
          user-select: none;
          &:after {
            border-radius: 50%;
            border: 2px solid #4285f4;
            background-color: #4285f4;
            transform: scale(1.02);
            .disabled-material {
              background-color: rgba(66, 133, 244, 0.2);
            }
          }
          &:before {
            border-radius: 50%;
            border: 2px solid transparent;
          }
        }
      }
    }
    &:not(:checked) {
      + {
        label {
          position: relative;
          padding-left: 35px;
          cursor: pointer;
          display: inline-block;
          height: 1.5625rem;
          line-height: 1.5625rem;
          transition: 0.28s ease;
          user-select: none;
          &:after {
            border-radius: 50%;
            border: 2px solid #5a5a5a;
            transform: scale(0);
          }
          &:before {
            border-radius: 50%;
            border: 2px solid #5a5a5a;
          }
        }
      }
    }
    + {
      label {
        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          margin: 4px;
          width: 16px;
          height: 16px;
          z-index: 0;
          transition: 0.28s ease;
        }
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          margin: 4px;
          width: 16px;
          height: 16px;
          z-index: 0;
          transition: 0.28s ease;
        }
      }
    }
    &:disabled {
      &:checked {
        + {
          label {
            &:before {
              background-color: transparent;
              border-color: rgba(0, 0, 0, 0.46);
            }
          }
          span {
            &:after {
              background-color: rgba(0, 0, 0, 0.46);
              border-color: #bdbdbd;
            }
          }
        }
      }
      &:not(:checked) {
        + {
          label {
            &:before {
              background-color: transparent;
              border-color: rgba(0, 0, 0, 0.46);
            }
          }
          span {
            &:before {
              border-color: rgba(0, 0, 0, 0.46);
            }
          }
        }
      }
      + {
        span {
          color: rgba(0, 0, 0, 0.46);
        }
      }
    }
  }
  input[type="radio"].with-gap {
    &:checked {
      + {
        label {
          &:after {
            border-radius: 50%;
            border: 2px solid #4285f4;
            background-color: #4285f4;
            transform: scale(0.5);
          }
          &:before {
            border-radius: 50%;
            border: 2px solid #4285f4;
          }
        }
      }
    }
    &:disabled {
      &:checked {
        + {
          label {
            &:before {
              border: 2px solid rgba(0, 0, 0, 0.46);
            }
            &:after {
              border: none;
              background-color: rgba(0, 0, 0, 0.46);
            }
          }
        }
      }
    }
  }
  input[type="checkbox"] {
    + {
      label {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        display: inline-block;
        height: 1.5625rem;
        line-height: 1.5625rem;
        user-select: none;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 18px;
          height: 18px;
          z-index: 0;
          border: 2px solid #8a8a8a;
          border-radius: 1px;
          margin-top: 3px;
          transition: 0.2s;
        }
      }
    }
    &:not(.filled-in) {
      + {
        label {
          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            z-index: 0;
            border: 2px solid #8a8a8a;
            border-radius: 1px;
            margin-top: 3px;
            transition: 0.2s;
            border: 0;
            transform: scale(0);
          }
        }
      }
    }
    &:not(:checked) {
      &:disabled {
        + {
          label {
            &:before {
              border: none;
              background-color: #bdbdbd;
            }
          }
        }
      }
    }
    &:checked {
      + {
        label {
          &:before {
            top: -4px;
            left: -5px;
            width: 12px;
            height: 1.375rem;
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            border-right: 2px solid #4285f4;
            border-bottom: 2px solid #4285f4;
            transform: rotate(40deg);
            backface-visibility: hidden;
            transform-origin: 100% 100%;
          }
        }
      }
      &:disabled {
        + {
          label {
            &:before {
              border-right: 2px solid #bdbdbd;
              border-bottom: 2px solid #bdbdbd;
            }
          }
        }
      }
    }
    &:indeterminate {
      + {
        label {
          &:before {
            top: -11px;
            left: -12px;
            width: 10px;
            height: 1.375rem;
            border-top: none;
            border-left: none;
            border-right: 2px solid #4285f4;
            border-bottom: none;
            transform: rotate(90deg);
            backface-visibility: hidden;
            transform-origin: 100% 100%;
          }
        }
      }
      &:disabled {
        + {
          label {
            &:before {
              border-right: 2px solid rgba(0, 0, 0, 0.46);
              background-color: transparent;
            }
          }
        }
      }
    }
    &:disabled {
      &:not(:checked) {
        + {
          label {
            &:before {
              background-color: #bdbdbd;
              border-color: #bdbdbd;
            }
            &:after {
              border-color: #bdbdbd;
              background-color: #bdbdbd;
            }
          }
        }
      }
      &:checked {
        + {
          label {
            &:before {
              background-color: transparent;
            }
            &:after {
              background-color: #bdbdbd;
              border-color: #bdbdbd;
            }
          }
        }
      }
    }
  }
  input[type="checkbox"].filled-in {
    + {
      label {
        &:after {
          border-radius: 0.125rem;
          content: "";
          left: 0;
          position: absolute;
          transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
          z-index: 1;
        }
        &:before {
          content: "";
          left: 0;
          position: absolute;
          transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
          z-index: 1;
        }
      }
    }
    &:not(:checked) {
      + {
        label {
          &:before {
            width: 0;
            height: 0;
            border: 3px solid transparent;
            left: 6px;
            top: 10px;
            transform: rotateZ(37deg);
            transform-origin: 100% 100%;
          }
          &:after {
            height: 20px;
            width: 20px;
            background-color: transparent;
            border: 2px solid #5a5a5a;
            top: 0;
            z-index: 0;
          }
        }
      }
    }
    &:checked {
      + {
        label {
          &:before {
            top: 0;
            left: 1px;
            width: 8px;
            height: 13px;
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transform: rotateZ(37deg);
            transform-origin: 100% 100%;
          }
          &:after {
            top: 0;
            width: 20px;
            height: 20px;
            border: 2px solid #a6c;
            background-color: #a6c;
            z-index: 0;
          }
        }
      }
    }
  }
  input[type="checkbox"].filled-in.filled-in-danger {
    &:checked {
      + {
        label {
          &:after {
            background-color: #f44336;
            border-color: #f44336;
          }
        }
      }
    }
  }
}
.form-check-input[type="radio"].with-gap {
  &:checked {
    + {
      label {
        &:after {
          border-radius: 50%;
          border: 2px solid #4285f4;
          background-color: #4285f4;
          transform: scale(0.5);
        }
        &:before {
          border-radius: 50%;
          border: 2px solid #4285f4;
        }
      }
    }
  }
  &:disabled {
    &:checked {
      + {
        label {
          &:before {
            border: 2px solid rgba(0, 0, 0, 0.46);
          }
          &:after {
            border: none;
            background-color: rgba(0, 0, 0, 0.46);
          }
        }
      }
    }
  }
}
[type="checkbox"], [type="radio"] {
  &:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  &:not(:checked) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}
.form-check-input[type="checkbox"] {
  + {
    label {
      position: relative;
      padding-left: 35px;
      cursor: pointer;
      display: inline-block;
      height: 1.5625rem;
      line-height: 1.5625rem;
      user-select: none;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        z-index: 0;
        border: 2px solid #8a8a8a;
        border-radius: 1px;
        margin-top: 3px;
        transition: 0.2s;
      }
    }
  }
  &:not(.filled-in) {
    + {
      label {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 18px;
          height: 18px;
          z-index: 0;
          border: 2px solid #8a8a8a;
          border-radius: 1px;
          margin-top: 3px;
          transition: 0.2s;
          border: 0;
          transform: scale(0);
        }
      }
    }
  }
  &:not(:checked) {
    &:disabled {
      + {
        label {
          &:before {
            border: none;
            background-color: #bdbdbd;
          }
        }
      }
    }
  }
  &:checked {
    + {
      label {
        &:before {
          top: -4px;
          left: -5px;
          width: 12px;
          height: 1.375rem;
          border-top: 2px solid transparent;
          border-left: 2px solid transparent;
          border-right: 2px solid #4285f4;
          border-bottom: 2px solid #4285f4;
          transform: rotate(40deg);
          backface-visibility: hidden;
          transform-origin: 100% 100%;
        }
      }
    }
    &:disabled {
      + {
        label {
          &:before {
            border-right: 2px solid #bdbdbd;
            border-bottom: 2px solid #bdbdbd;
          }
        }
      }
    }
  }
  &:indeterminate {
    + {
      label {
        &:before {
          top: -11px;
          left: -12px;
          width: 10px;
          height: 1.375rem;
          border-top: none;
          border-left: none;
          border-right: 2px solid #4285f4;
          border-bottom: none;
          transform: rotate(90deg);
          backface-visibility: hidden;
          transform-origin: 100% 100%;
        }
      }
    }
    &:disabled {
      + {
        label {
          &:before {
            border-right: 2px solid rgba(0, 0, 0, 0.46);
            background-color: transparent;
          }
        }
      }
    }
  }
  &:disabled {
    &:not(:checked) {
      + {
        label {
          &:before {
            background-color: #bdbdbd;
            border-color: #bdbdbd;
          }
          &:after {
            border-color: #bdbdbd;
            background-color: #bdbdbd;
          }
        }
      }
    }
    &:checked {
      + {
        label {
          &:before {
            background-color: transparent;
          }
          &:after {
            background-color: #bdbdbd;
            border-color: #bdbdbd;
          }
        }
      }
    }
  }
}
.form-check-input[type="checkbox"].filled-in {
  + {
    label {
      &:before, &:after {
        content: "";
        left: 0;
        position: absolute;
        transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
        z-index: 1;
      }
      &:after {
        border-radius: 0.125rem;
      }
    }
  }
  &:not(:checked) {
    + {
      label {
        &:before {
          width: 0;
          height: 0;
          border: 3px solid transparent;
          left: 6px;
          top: 10px;
          transform: rotateZ(37deg);
          transform-origin: 100% 100%;
        }
        &:after {
          height: 20px;
          width: 20px;
          background-color: transparent;
          border: 2px solid #5a5a5a;
          top: 0;
          z-index: 0;
        }
      }
    }
  }
  &:checked {
    + {
      label {
        &:before {
          top: 0;
          left: 1px;
          width: 8px;
          height: 13px;
          border-top: 2px solid transparent;
          border-left: 2px solid transparent;
          border-right: 2px solid #fff;
          border-bottom: 2px solid #fff;
          transform: rotateZ(37deg);
          transform-origin: 100% 100%;
        }
        &:after {
          top: 0;
          width: 20px;
          height: 20px;
          border: 2px solid #a6c;
          background-color: #a6c;
          z-index: 0;
        }
      }
    }
  }
}
.form-check-input[type="checkbox"].filled-in.filled-in-danger {
  &:checked {
    + {
      label {
        &:after {
          background-color: #f44336;
          border-color: #f44336;
        }
      }
    }
  }
}
